[submodule "lib/glm"]
	path = lib/glm
	url = git@github.com:g-truc/glm.git
[submodule "lib/bullet"]
	path = lib/bullet
	url = git@github.com:bulletphysics/bullet3.git
[submodule "lib/wt"]
	path = lib/wt
	url = git@github.com:kdeforche/wt.git
[submodule "lib/sfml"]
	path = lib/sfml
	url = git@github.com:SFML/SFML.git
[submodule "lib/rapi"]
	path = lib/rapi
	url = https://github.com/Degenerated1123/RAPI.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
